<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="platform for real-time search on streaming text data">
    <meta name="author" content="ryan walker">
    <link rel="icon" href="../static/assets/favicon.ico">

    <title>Straw -- a platform for streaming search</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/theme.css" rel="stylesheet">

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Try it!</a>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="about">About</a>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Straw</h1>
        <p>Straw is a platform for real-time, full text search on streaming data.</p>
      </div>

    <div class="page-header">
        <h2>Register a query</h2>
    </div>
    <h4> Subscribe to real-time alerts from the (simulated) Twitter firehose. </h4>
    <form action="." method="POST">
        <input type="text" name="text" style="width: 75%">
        <input type="submit" class="btn btn-lg btn-success" value="Subscribe">
        <input type="submit" class="btn btn-lg btn-danger" name="clear" value="Clear All">
    </form>
    
    {% if query_list|length>0 %}
    <div class="page-header">
        <h2>Your Queries</h2>
    </div>
    <div class="page-header" id="query_list" align=left>
        {% for query in query_list %}
        <div> {{query}} </div>
        {% endfor %}
    </div>
    <div class="page-header">
        <h2>Your Alerts</h2>
    </div>
<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
    $(document).ready(
            function() {
                setInterval(function() {
                    var randomnumber = "hello";
                    $.getJSON($SCRIPT_ROOT + '/_fetch_messages', {
                          }, function(data) {
                            var result="";
                            for(var i=0;i<data.result.length;i++)
                            {
                                result += '<div>'+data.result[i]+'</div>';
                            }
                            document.getElementById("result").innerHTML = result
                            //$("#result").text(result);
                          });
                }, 500);
            });
</script>
<div id="result" align="left"></div>
    {% endif %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type=text/javascript src="../static/js/jquery.js"></script>
    <script type=text/javascript src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
